@page "/stockEditation"

@attribute [Authorize];

@inject NavigationManager navigationManager;

<PageTitle>Stock-record</PageTitle>

<h1>Vytvoř nový sklad</h1>
<h5>Vyplň název skladu, stručný popis a lokaci.</h5>

<EditForm Model="NewBlazoStock" OnValidSubmit="AddStockRecord" FormName="StockRecord">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <InputText @bind-Value="blazorStock.StockTitle" class="form-control" placeholder="Název skladu" id="title" required />
                </td>
            </tr>
            <tr>
                <td>
                    <InputText @bind-Value="blazorStock.StockDescription" class="form-control" placeholder="Stručný popis skladu" id="description" required />
                </td>
            </tr>
            <tr>
                <td>
                    <InputText @bind-Value="blazorStock.StockLocation" class="form-control" placeholder="Umístění skladu" id="location" required />
                </td>

            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Ulož záznam</button>

</EditForm>

@if (notification != null)
{
    if (exceptionMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @notification: @exceptionMessage
        </div>

    }
    else
    {
        <div class="alert alert-success" role="alert">
            @notification
        </div>
    }

}


@code {
    private BlazorStock NewBlazorStock { get; set; } = new BlazorStock();
    private string? notification = null;
    private string? exceptionMessage = null;

    [SupplyParameterFromForm]
    private StockBlazorModel blazorStock { get; set; } = new StockBlazorModel();

    private async Task AddStockRecord()
    {
        try
        {
            stockservice.CreateStockModel(blazorStock);
            notification = "Vloženo ";
            await Task.Delay(1300);
            RefreshPage();
        }
        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
            notification = "Záznam se nepodařilo uložit ";
        }

    }


    private void RefreshPage()
    {
        navigationManager.NavigateTo("/stockRecord", forceLoad: true);
    }

}  