@implements IDisposable
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmallCompany.ClientBlazorIdentity</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>       

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <button class="nav-link" @onclick="ToggleSubMenu">Admin vstupy</button>
                </div>
                @if(Shown) 
                {
                    <a class="nav-link" href="propertyEditation">Nová vlastnost položky</a>
                    <a class="nav-link" href="typeOfItemEditation">Nový typ položky</a>
                    <a class="nav-link" href="dateTypeEditation">Nový datový typ</a>
                    <a class="nav-link" href="unitEditation">Nová měrná jednotka</a>
                    <a class="nav-link" href="stockEditation">Nový sklad</a>
                    <a class="nav-link" href="itemEditation">Nová skladová položka</a>            
                }
              
                @* <div class="nav-item px-3">
                    <NavLink class="nav-link" href="propertyEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nová vlastnost položky
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="typeOfItemEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nový typ položky
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="dateTypeEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nový datový typ
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="unitEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nová měrná jednotka
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="stockEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nový sklad
                    </NavLink>
                </div>        

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="itemEditation">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nová skladová položka
                    </NavLink>
                </div> *@


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    bool Shown { get; set; } = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void ToggleSubMenu()
    {
        Shown = !Shown;
    }
}

