@page "/supplierAddEdit"

@attribute [Authorize]

@inject IApiSubjectService apiSubjectService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<PageTitle>Supplier Add and Edit</PageTitle>

<h1>Vložení a editace dodavatele.</h1>
<h5>Údaje lze vyplnit ručně nebo stáhnout z webové služby Ares pomocí ičo.</h5>

<EditForm Model="IcoForApi" FormName="icoForAres" OnValidSubmit="GetSubjectAsync">
	<DataAnnotationsValidator/>
	<div>
		<InputText class="form-control" type="number" @bind-Value="IcoForApi.Ico" id="icoForApi" placeholder="Vyplňte Ičo"/>
		<ValidationMessage For="@(() => IcoForApi.Ico)" />

		<button class= "btn btn-secondary btn-sm mt-1" type="submit">Vyhledej subjek v Ares</button>
	</div>

</EditForm>
<hr>

@code {

	[SupplyParameterFromForm(Name ="icoForAres")]
	IcoForApi IcoForApi { get; set; } = new IcoForApi();



	EkonomickySubjekt ekonomickySubjekt { get; set; } = new EkonomickySubjekt();

	string ? notification;
	string? exceptionMessage;

	private async Task GetSubjectAsync()
	{
		if(string.IsNullOrWhiteSpace(IcoForApi.Ico))
		{
			return;
		}
		try
		{
			string ico = IcoForApi.Ico;
			ekonomickySubjekt = await apiSubjectService.GetOneSubjectAsync(ico);
		}
		catch(Exception ex)
		{
			exceptionMessage = ex.Message;
		}
		
	}





}
