@page "/material"
@using SmallCompany.ServiceLayer;
@using ServiceLayer.ModelsBlazor;
@using System.Data;
@inject IPropertiesService propertiesService;
@inject IMaterialModelCreator materialModelCreator;

<PageTitle>Materiál-záznam</PageTitle>

<h1>Vytvoř nový model materiálu</h1>
<h5>Vyplň obecný název skupiny, krátký popis a zaškrtnutím přiřaď k materiálu vhodné vlastnosti.</h5>

<div class="table-responsive-sm">
<table class="table">
        <tbody>
            <tr>
                <td>
                    <input class="form-control" type="text" placeholder="Typ skupiny materiálů" @bind-value="@materialGroupName">
                </td>
                
            </tr>
            <tr>
                <td>
                    <select class="form-select">
                        <option disabled selected>Vyberte jednu z možností</option>
                        @foreach(var enumValue in Enum.GetValues(typeof(MaterialDescription)))
                        {
                            <option value="@enumValue">@enumValue.ToString()</option>
                        }
                    </select>
                </td>
                
            </tr>

            @foreach (var property in blazorProperties)
            {
                <tr>
                    <td>                        
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind-value=property.IsValid>
                        <label class="form-check-label" for="flexCheckDefault">@property.PropertyName</label>                         
                        

                    </td>
                </tr>
            }
        </tbody>       
      
    
</table>
</div>


<button class="btn btn-primary" @onclick="AddMaterialRecord">Ulož záznam</button>

@code {
    private string materialGroupName;
    MaterialDescription materialDescription = new MaterialDescription();

    List<PropertiesBlazorModel> blazorProperties = new List<PropertiesBlazorModel>();


    protected override void OnInitialized()
    {
        blazorProperties = propertiesService.GetBlazorProperties();
    }

    private void AddMaterialRecord()
    {
        materialModelCreator.CreateMaterialEntryModel(materialGroupName, materialDescription.ToString(),blazorProperties);
    }
}
