@page "/material"

<PageTitle>Materiál-záznam</PageTitle>

<h1>Vytvoř nový model materiálu</h1>
<h4>Vyplň obecný název skupiny, krátký popis a zaškrtnutím přiřaď k materiálu vhodné vlastnosti.</h4>
<div class="table-responsive-sm">
<table class="table">
    <thead>
        <tr>
            <th scope="col">název</th>
            <th scope="col">popis</th>
            <th scope="col">barva</th>
            <th scope="col">tvrdost</th>
            <th scope="col">hustota</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input class="text" placeholder="název skupiny" id="materialTitle"></th>
            <td><input class="text" placeholder="krátký popis" id="materialDescription"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="materialColor"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="materialHardness"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="materialDensity"></td>
        </tr>        
    </tbody>
</table>
</div>

<button class="btn btn-primary" @onclick="CreateMaterialTabel">Ulož záznam</button>

@code {
    SmallCompany.DataLayer.MaterialModel materialModel= new SmallCompany.DataLayer.MaterialModel();

    private void CreateMaterialTabel()
    {
        
    }
}
