@page "/stockRecord"
@using SmallCompany.ServiceLayer;
@using ServiceLayer.ModelsBlazor;
@using System.Data;
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inject IJSRuntime jsr;
@inject IStockService stockservice;

<PageTitle>Stock-record</PageTitle>

<h1>Vytvoř nový sklad</h1>
<h5>Vyplň název skladu, stručný popis a lokaci.</h5>

<form class="form-control">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Název skladu" @bind-value="@blazorStock.StockTitel" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Stručný popis skladu" @bind-value="@blazorStock.StockDescription" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Umístění skladu" @bind-value="@blazorStock.StockLocation" required>
                </td>

            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary" @onclick="AddStockRecord">Ulož záznam</button>

</form>

@if (isSuccessful)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Bootstrap Toast</strong>
            <small>Now</small>
            <button type="button" class="ml-2 mb-1 close" @onclick="HideToast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Toto je ukázkový Bootstrap toast.
        </div>
    </div>
}

@if (notification != null)
{
    if (notification == "Záznam byl uložen")
    {    
        <div id="myAlertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            @notification
        </div>
    }
    else if (notification == "Záznam se nepodařilo uložit")
    {
        <div id="myAlertDanger" class="alert alert-danger alert-dismissible fade show" role="alert">
            @notification
        </div>
    }

}

@code {
    private string? notification = null;
    StockBlazorModel blazorStock = null;
    bool isSuccessful = false;

    protected override void OnInitialized()
    {
        blazorStock = new StockBlazorModel();
    }

    private void AddStockRecord()
    {
        isSuccessful = false;
        if((blazorStock.StockTitel != null) && (blazorStock.StockDescription != null) && (blazorStock.StockLocation != null))
        {
            blazorStock.IsValid = true;
            isSuccessful = stockservice.CreateStockModel(blazorStock);
        }

        SetNotification(isSuccessful);
    }

    private void SetNotification(bool isSuccesfull)
    {
        if (isSuccesfull)
        {
            notification = "Záznam byl uložen";
        }
        else
        {
            notification = "Záznam se nepodařilo uložit";
        }
    }

    private void HideToast()
    {
        isSuccessful = false;
    }


}
