@page "/stockRecord"
@using SmallCompany.ServiceLayer;
@using ServiceLayer.ModelsBlazor;
@inject IStockService stockservice;
@inject NavigationManager navigationManager;

<PageTitle>Stock-record</PageTitle>

<h1>Vytvoř nový sklad</h1>
<h5>Vyplň název skladu, stručný popis a lokaci.</h5>

<form class="form-control" @onsubmit="AddStockRecord">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Název skladu" @bind-value="@blazorStock.StockTitel" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Stručný popis skladu" @bind-value="@blazorStock.StockDescription" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Umístění skladu" @bind-value="@blazorStock.StockLocation" required>
                </td>

            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Ulož záznam</button>

</form>

@if (notification != null)
{
    if (notification == "Záznam byl uložen")
    {    
        <div id="myAlertSuccess" class="alert alert-success" role="alert">
            @notification
        </div>
    }
    else if (notification == "Záznam se nepodařilo uložit")
    {
        <div id="myAlertDanger" class="alert alert-danger" role="alert">
            @notification
        </div>
    }

}

@code {
    private string? notification = null;
    StockBlazorModel blazorStock = null;
    bool isSuccessful = false;

    protected override void OnInitialized()
    {
        blazorStock = new StockBlazorModel();
    }

    private void AddStockRecord()
    {
        isSuccessful = false;
        if((blazorStock.StockTitel != null) && (blazorStock.StockDescription != null) && (blazorStock.StockLocation != null))
        {
            blazorStock.IsValid = true;
            isSuccessful = stockservice.CreateStockModel(blazorStock);
        }

        SetNotification(isSuccessful);

    }

    private void SetNotification(bool isSuccesfull)
    {
        int delay;

        if (isSuccesfull)
        {
            notification = "Záznam byl uložen";
            delay = 1000;
        }
        else
        {
            notification = "Záznam se nepodařilo uložit";
            delay = 2000;
        }
        Task.Delay(delay).ContinueWith(_ => RefreshPage());

    }

    private void RefreshPage()
    {
        navigationManager.NavigateTo("/stockRecord", forceLoad: true);
    }

}  
    
